#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
h4 {
    color: #000;
    font-family: "PF Stardust ExtraBold";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn_area button{
    width: 103px;
    height: 72px;
    display: inline-flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #000;
    font-family: "PF Stardust ExtraBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}