* {
    font-family: "PF Stardust";
    color: #000;
}

body {
    width: 100vw;
    height: 100vh;

}
.icon {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
}

h4{
    font-family: "PF Stardust ExtraBold";
    font-size: 22px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    padding-top: 30vh;
}
#main img{
    width: 210px;
    height: auto;
}
#main p{
    font-family: "PF Stardust";
    text-align: center;
}

.swal-button {
    color: #000;
}